* {
    font-family: 'roboto', 'sans-serif';
    margin-left: 0;
    margin-right: 0;
}

img{
    width: 100%;
}

h1,p{
    text-align: center;
}

h2 {
    padding: 10px;
    background-color: #C4C4C4;
}

h2,h3 {
    font-size: 30px;
}

h3{
    margin-left: 10px;
}

ul, a{
    list-style: none;
    padding-left: 20px;
    font-size: 25px;
}

label{
    display: block;
    font-size: 25px;
    margin: 20px 0 5px 0;
}

input, textarea, select{
    width: 90%;
    padding: 15px;
}
input, textarea, select, button{
    display: block;
    font-size: 10px;
    border: none;
    border: 1px black solid;
    border-radius: 5px;
}
textarea{
    height: 320px;
}

button{
    padding: 12px;
}
