* {
    font-family: 'roboto', 'sans-serif';
}

img{
    width: 100%;
}

h1,p{
    text-align: center;
}

h2 {
    padding: 10px;
    background-color: #C4C4C4;
}

h2,h3 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

label{
    display: block;
    font-size: 25px;
    margin: 20px 0 5px 0;
}

input, textarea, select{
    display: block;
    width: 80%;
    padding: 8px;
}

textarea{
    height: 320px;
}

button{
    padding: 12px;
}
